@import controllers.admin.NotificationsController.PublishNotificationForm
@import system.RequestContext
@import models.publishing.PermissionScope
@import models.publishing.Publisher
@(
    publisher: Publisher,
    form: PublishNotificationForm,
    departmentOptions: Seq[(String, String)],
    providerOptions: Seq[(String, String)],
    permissionScope: PermissionScope
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.vertical.fieldConstructor
}

@common.admin(s"${publisher.name} > Create notification") {
  <div class="container-fluid">
  @b3.form(action = controllers.admin.routes.NotificationsController.create(publisher.id)) {

    @form.globalErrors.map { error =>
      <div class="alert alert-danger">@error.message</div>
    }

    @b3.textarea(form("item.text"),
      '_label -> "Text",
      '_help -> "Keep it super short"
    )

    @b3.select(form("item.provider"), providerOptions :+ ("news" -> "News"),
      '_label -> "Provider",
      'value -> "news",
      '_help -> "Select the service responsible for this notification. For general items select 'News'"
    )

    @b3.text(form("item.linkHref"),
      '_label -> "Link URL",
      '_help -> "Optional"
    )

    @tags.audiencePicker(form, "audience", departmentOptions, "notification", permissionScope, allowPublic = false)

    @tags.submitOrCancel("Send", controllers.admin.routes.NotificationsController.list(publisher.id))

  }
  </div>
}
