@import models.publishing.Role
@import system.RequestContext
@import models.publishing.Ability.CreateNotifications
@import models.publishing.Publisher
@(
    publisher: Publisher,
    futureNotifications: Seq[models.ActivityResponse],
    pastNotifications: Seq[models.ActivityResponse],
    user: Role
)(implicit context: RequestContext)

@common.admin("Notifications") {
  @if(user can CreateNotifications) {
    <p>
      <a class="btn btn-default" href="@controllers.admin.routes.NotificationsController.createForm(publisher.id)">
        Create notification
      </a>
    </p>
  }

  <h3>Pending</h3>
  @if(futureNotifications.isEmpty) {
    <p>No pending notifications.</p>
  } else {
    @futureNotifications.map(n => views.html.admin.notifications.notificationItem(n))
  }

  <h3>Sent</h3>
  @if(pastNotifications.isEmpty) {
    <p>No sent notifications.</p>
  } else {
    @pastNotifications.map(n => views.html.admin.notifications.notificationItem(n))
  }
}