@import system.RequestContext
@import controllers.admin.elasticsearch.ActivityToESControllerFormData
@import controllers.admin.elasticsearch.{routes => r}

@(formData: Form[ActivityToESControllerFormData])(implicit messages: Messages, context: RequestContext)
@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Administration") {

  @if(formData.hasGlobalErrors) {
    @for(error <- formData.globalErrors) {
      <div class="alert alert-danger">@error.message</div>
    }
  }

  @b3.form(r.ActivityToESController.reindexActivitiesInDateTimeRange) {

    @context.csrfHelper.formField

    <p>Choose desired date/time range for activities that need to be indexed by ElasticSearch</p>

    @tags.datetimePicker(formData("fromDate"), '_label -> "From")

    @tags.datetimePicker(formData("toDate"), '_label -> "To")

    @tags.submitOrCancel("Create", r.ActivityToESController.index)
  }
}