{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "lodash",
    "dev-expression"
  ]
}
