/conf/application.conf
/conf/worker.conf
/conf/ehcache.properties
logback.xml
logback-access.xml
logs
target
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/data
gulpopts.json
/.cache-*
/bin
/scripts/notification-bot/config.json
/${*

node_modules
/mocha.json

/.idea/*
!/.idea/modules.iml
!/.idea/modules/*.iml
!/.idea/codeStyleSettings.xml
