@(
    form: Form[_],
    fieldName: String,
    departmentOptions: Seq[(String, String)],
    itemName: String
)(implicit fc: b3.B3FieldConstructor, messages: Messages)
@defining(form(fieldName)) { field =>

    @* TODO make less of a UI nightmare *@
    @* TODO receive list of allowed audiences from controller - each user's will be different *@
    @b3.multifieldFormGroup(
      Seq(form(fieldName), form("department")),
      Seq('_label -> s"Who is this $itemName for?"),
      Nil) { info =>

      <div class="audience-picker">

        @for(msg <- info.errorsAndInfos) { <span class="help-block">@msg</span> }

        @b3.seqCheckbox(form, fieldName, 'id -> "staff", '_text -> "All staff", 'value -> "Staff")
        @b3.seqCheckbox(form, fieldName, 'id -> "teaching", '_text -> "Teaching staff", 'value -> "TeachingStaff")
        @b3.seqCheckbox(form, fieldName, 'id -> "ug", '_text -> "Undergraduates", 'value -> "UndergradStudents")
        @b3.seqCheckbox(form, fieldName, 'id -> "pgt", '_text -> "PG Taught", 'value -> "TaughtPostgrads")
        @b3.seqCheckbox(form, fieldName, 'id -> "pgr", '_text -> "PG Research", 'value -> "ResearchPostgrads")

        @b3.select(form("department"), departmentOptions, '_text -> "Department")(b3.clear.fieldConstructorSpecific, messages)
        <div class=row>
          <div class="col-xs-11 col-xs-offset-1">
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-staff", '_text -> "Everyone", 'value -> "Dept:All")
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-staff", '_text -> "All staff", 'value -> "Dept:Staff")
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-teaching", '_text -> "Teaching staff", 'value -> "Dept:TeachingStaff")
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-ug", '_text -> "Undergraduates", 'value -> "Dept:UndergradStudents")
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-pgt", '_text -> "PG Taught", 'value -> "Dept:TaughtPostgrads")
            @b3.seqCheckbox(form, fieldName, 'id -> "dept-pgr", '_text -> "PG Research", 'value -> "Dept:ResearchPostgrads")
          </div>
        </div>

      </div>

    }



}