@import controllers.admin.PublishNewsData

@(
    form: Form[PublishNewsData],
    departmentOptions: Seq[(String, String)]
)(implicit messages: Messages)

@implicitFieldConstructor = @{
  b3.vertical.fieldConstructor
}

@common.id7layout("Create news") {
  <div class="container-fluid">
  @b3.form(action = controllers.admin.routes.NewsController.create()) {

    @b3.text(form("item.title"),
      'class -> "input-lg",
      '_label -> "Title",
      'autofocus -> true,
      'required -> true)

    @b3.textarea(form("item.text"),
      '_label -> "Text",
      '_help -> "Keep it short"
    )

    @b3.datetimeLocal(form("item.publishDate"),
      '_label -> "Publish date",
      '_help -> "You can select a time in the future, and it will appear to users after that time. Otherwise choose the current time to publish now"
    )

    @b3.text(form("item.linkHref"),
      '_label -> "Link URL"
    )

    @b3.text(form("item.linkText"),
      '_label -> "Link title"
    )

    <div class="form-group">
      <label class="control-label">Who is this news item for?</label>
      @snippets.audiencePicker(form, "audience", departmentOptions)
    </div>

    @b3.submit(
      'class -> "btn btn-primary"
    ) {Create}
  }
  </div>
}
