@import controllers.admin.PublishNewsData

@(form: Form[PublishNewsData])(implicit messages: Messages)

@implicitFieldConstructor = @{
  b3.vertical.fieldConstructor
}

@common.id7layout("Create news") {
  <div class="container-fluid">
  @b3.form(action = controllers.admin.routes.NewsController.create()) {

    @b3.text(form("item.title"),
      '_label -> "Title",
      'autofocus -> true,
      'required -> true)

    @b3.textarea(form("item.text"),
      '_label -> "Text",
      '_help -> "Keep it short"
    )

    @b3.datetimeLocal(form("item.publishDate"),
      '_label -> "Publish date",
      '_help -> "You can select a time in the future, and it will appear to users after that time. Otherwise choose the current time to publish now"
    )

    @b3.text(form("item.linkHref"),
      '_label -> "Link URL"
    )

    @b3.text(form("item.linkText"),
      '_label -> "Link title"
    )

    @b3.text(form("recipients"),
      '_label -> "Recipients (comma-separated usercodes)",
      'required -> true
    )

    @b3.submit(
      'class -> "btn btn-primary"
    ) {Save}
  }
  </div>
}
