@import system.RequestContext
@import models.news.{AudienceSize, NewsItemRender}
@import views.html._
@(
    newsPending: Seq[NewsItemRender],
    newsPublished: Seq[NewsItemRender],
    counts: Map[String, AudienceSize]
)(implicit context: RequestContext)

  @common.admin("News") {
    <p>
      <a class="btn btn-default" href="@controllers.admin.routes.NewsController.createForm()">
        Create news</a>
    </p>

    <h3>Pending</h3>
    @if(newsPending.isEmpty) {
      <p>No pending news.</p>
    } else {
      @newsPending.map { item =>
        @admin.news.newsItemInfo(item, counts.get(item.id))
      }
    }

    <h3>Published</h3>
    @if(newsPublished.isEmpty) {
      <p>No published news.</p>
    } else {
      @newsPublished.map { item =>
        @admin.news.newsItemInfo(item, counts.get(item.id))
      }
    }
  }