@import models.news.{AudienceSize, NewsItemRender}
@import views.html._
@(news: Seq[NewsItemRender], counts: Map[String, AudienceSize])

@common.admin("News") {
  <p>
    <a class="btn btn-default" href="@controllers.admin.routes.NewsController.createForm()">Create news</a>
  </p>

  @if(news.isEmpty) {
    <p>No news.</p>
  } else {
    <p>
      Showing @if(news.size == 1) {one item} else {@news.size items}.
    </p>
    @news.map { item =>
      @admin.news.newsItemInfo(item, counts.get(item.id))
    }
  }
}