@import controllers.admin.NewsItemData
@import org.joda.time.LocalDateTime
@(
    id: String,
    form: Form[NewsItemData],
    departmentOptions: Seq[(String, String)]
)(implicit messages: Messages)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Update news") {
  <div class="container-fluid">
  @b3.form(action = controllers.admin.routes.NewsController.update(id)) {

    @b3.text(form("title"),
      'class -> "input-lg",
      '_label -> "Title",
      'autofocus -> true,
      'required -> true)

    @b3.textarea(form("text"),
      '_label -> "Text",
      '_help -> "Keep it short",
      'rows -> 7
    )

    @b3.datetimeLocal(form("publishDate"),
      '_label -> "Publish date",
      '_help -> "You can select a time in the future, and it will appear to users after that time. Otherwise choose the current time to publish now",
      'value -> new LocalDateTime().withSecondOfMinute(0).withMillisOfSecond(0)
    )

    @b3.text(form("linkHref"),
      '_label -> "Link URL"
    )

    @b3.text(form("linkText"),
      '_label -> "Link title"
    )

    @b3.submit(
      'class -> "btn btn-primary"
    ) {Update}
  }
  </div>
}
