@import system.RequestContext
@import controllers.admin.PublishNewsItemData
@import views.html._
@import models.publishing.PermissionScope
@(
    publisher: String,
    id: String,
    form: Form[PublishNewsItemData],
    departmentOptions: Seq[(String, String)],
    categories: Seq[NewsCategory],
    permissionScope: PermissionScope
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Update news") {
  <div class="container-fluid">
  @b3.form(action = controllers.admin.routes.NewsController.update(publisher, id)) {

    @admin.news.contentForm(form)

    @tags.audiencePicker(form, "audience", departmentOptions, "news item", permissionScope, allowPublic = true)

    @tags.categoryPicker(form, "categories", categories, "news item")

    @tags.submitOrCancel("Update", controllers.admin.routes.NewsController.list(publisher))

  }
  </div>
}
