@()(content: Html)
<!doctype html>
<html>
  <head>
    <title>Admin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
      .cluster-self { color: gray; font-weight: normal; }
      .cluster-leader { color: seagreen; }
      .cluster-unreachable { color: crimson; }
    </style>
  </head>
  <body>
    <div class="container">
      @content
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>