@import models.publishing.Role
@import system.RequestContext
@import models.publishing.Ability.CreateNotifications
@import models.publishing.Publisher
@import services.dao.DepartmentInfo
@(
    publisher: Publisher,
    futureNotifications: Seq[models.ActivityRenderWithAudience],
    sendingNotifications: Seq[models.ActivityRenderWithAudience],
    pastNotifications: Seq[models.ActivityRenderWithAudience],
    user: Role,
    allDepartments: Seq[DepartmentInfo]
)(implicit context: RequestContext)

@common.admin("Alerts") {
  @if(user can CreateNotifications) {
    <p>
      <a class="btn btn-default" href="@controllers.publish.routes.NotificationsController.createForm(publisher.id)">
        Create alert
      </a>
    </p>
  }

  <h3>Pending</h3>
  @if(futureNotifications.isEmpty) {
    <p>No pending alerts.</p>
  } else {
    @futureNotifications.map(n => views.html.publish.notifications.notificationItem(publisher, n, user, allDepartments))
  }

  <h3>Sending</h3>
  @if(sendingNotifications.isEmpty) {
    <p>
      No alerts are currently being sent.
    </p>
  } else {
    <p id="sending-empty" class="hidden">
      No alerts are currently being sent.
    </p>

    @sendingNotifications.map(n => views.html.publish.notifications.notificationItem(publisher, n, user, allDepartments))
  }

  <h3>Sent</h3>
  @if(pastNotifications.isEmpty) {
    <p>No sent alerts.</p>
  } else {
    <div id="sent-activities">
      @pastNotifications.map(n => views.html.publish.notifications.notificationItem(publisher, n, user, allDepartments))
    </div>
  }
}