@import models.publishing.Role
@import system.RequestContext
@import models.publishing.Ability.CreateNotifications
@import models.publishing.Publisher
@(
    publisher: Publisher,
    futureNotifications: Seq[models.ActivityRender],
    pastNotifications: Seq[models.ActivityRender],
    user: Role
)(implicit context: RequestContext)

@common.admin("Alerts") {
  @if(user can CreateNotifications) {
    <p>
      <a class="btn btn-default" href="@controllers.publish.routes.NotificationsController.createForm(publisher.id)">
        Create alert
      </a>
    </p>
  }

  <h3>Pending</h3>
  @if(futureNotifications.isEmpty) {
    <p>No pending alerts.</p>
  } else {
    @futureNotifications.map(n => views.html.publish.notifications.notificationItem(publisher, n, user))
  }

  <h3>Sent</h3>
  @if(pastNotifications.isEmpty) {
    <p>No sent alerts.</p>
  } else {
    @pastNotifications.map(n => views.html.publish.notifications.notificationItem(publisher, n, user))
  }
}