@import models.publishing.Publisher
@import publishing.Role
@import models.publishing.Ability.EditNotifications
@import models.publishing.Ability.DeleteNotifications
@(publisher: Publisher, item: ActivityRender, user: Role)

<div class="activity-item row">
  <div class="media">
    <div class="col-xs-10">
      <div class="media-left">
        <i class="app-icon app-icon--lg fa fa-fw fa-@item.icon.map(_.name).getOrElse("newspaper-o")"
        style="background-color:@item.icon.map(_.colour).getOrElse("#5b3069")">
        </i>
      </div>
      <div class="media-body">
        <div class="activity-item__title">@item.activity.title</div>
        @item.activity.text.map { text =>
          <div class="activity-item__text">@text</div>
        }
        <div class="activity-item__date">@models.DateFormats.emailDateTime(item.activity.publishedAt)</div>
        @item.activity.url.map { url =>
          <a href="@url">Link to @url</a>
        }
      </div>
    </div>
    <div class="col-xs-2">
      @if(item.activity.publishedAt.isAfterNow) {
        <div class="btn-toolbar pull-right">
        @if(user can EditNotifications) {
            <a href="@controllers.publish.routes.NotificationsController.updateForm(publisher.id, item.activity.id)" class="btn btn-default">
              Edit</a>
          }
        @if(user can DeleteNotifications) {
          <a href=""
          class="btn btn-danger delete"
          >Delete</a>
      </div>
      <div class="btn-toolbar pull-right confirm-delete">
        <p>Are you sure?</p>
        @helper.form(controllers.publish.routes.NotificationsController.delete(publisher.id, item.activity.id)) {
          <button type="submit" class="btn btn-danger">Delete</button>
        }
        <button class="btn btn-default cancel">Cancel</button>
      </div>
      } else { </div> }
    }
    </div>
  </div>
</div>
