@import models.publishing.Publisher
@import publishing.Role
@import models.publishing.Ability.EditNotifications
@import models.publishing.Ability.DeleteNotifications
@import system.RequestContext
@import services.dao.DepartmentInfo
@(
    publisher: Publisher,
    item: ActivityRenderWithAudience,
    user: Role,
    allDepartments: Seq[DepartmentInfo]
)(implicit context: RequestContext)

<div class="activity-item row" data-activity-id="@item.activity.id">
  <div class="media">
    <div class="col-xs-10">
      <div class="media-left">
        <i class="app-icon app-icon--lg fa fa-fw fa-@item.icon.map(_.name).getOrElse("newspaper-o")"
        data-background-color="@item.icon.map(_.colour).getOrElse("#5b3069")">
        </i>
      </div>
      <div class="media-body">
        <div class="activity-item__title">@item.activity.title</div>
        @item.activity.text.map { text =>
          <div class="activity-item__text">@text</div>
        }

        <div class="activity-item__date">
          @models.DateFormats.emailDateTime(item.activity.publishedAt)
          by
          @item.createdBy.name.full.getOrElse("[Unknown]") (@item.createdBy.usercode.string)
        </div>
        @if(item.audienceComponents.nonEmpty) {
          <div id="@item.activity.id" class="activity-item__audience row" data-sent="@item.isSent">
            <div class="col-xs-4 col-sm-2">
              <div>Audience</div>
              <div class="activity-item__messages-delivered-name">Delivered</div>
              <div class="activity-item__messages-read-name">Read</div>
            </div>
            <div class="col-xs-4 col-sm-1">
              <div class="activity-item__audience-total">
              @item.audienceSize match {
                case AudienceSize.Public => {public}
                case AudienceSize.Finite(c) => {@c}
                case _ => {}
              }
              </div>
              <div class="activity-item__messages-delivered-val">
                <i class="fa fa-spin fa-refresh"></i>
              </div>
              <div class="activity-item__messages-read-val">
                <i class="fa fa-spin fa-refresh"></i>
              </div>
            </div>
            <div class="col-xs-4 col-sm-1">
              <div>
                (<a
                role="button"
                class="toggle-popover"
                title="Audience"
                data-content="<p>@tags.audienceComponents(item.audienceComponents, allDepartments)</p>"
                data-html="true"
                >Who?</a>)
              </div>
            </div>
          </div>
        }
        @if(item.isSendingNow) {
          <div class="activity-item__audience activity-item__send-progress">
            <i class="fa fa-spin fa-refresh"></i>
            Processed
            <span class="activity-item__sent-count">
            @("%,d".format(item.sentCount))
            </span>
            @item.audienceSize match {
              case AudienceSize.Finite(size) => {
                of @("%,d".format(size))
              }
              case _ => {}
            }
            recipients
          </div>
        }
        @item.activity.url.map { url =>
          <div class="activity-item__visible-link">
            Link to  <a href="@url">@url</a>
          </div>
        }
      </div>
    </div>
    <div class="col-xs-2">
    @if(item.activity.publishedAt.isAfterNow) {
      <div class="btn-toolbar pull-right">
        @if(user can EditNotifications) {
          <a href="@controllers.publish.routes.NotificationsController.updateForm(publisher.id, item.activity.id)" class="btn btn-default">
            Edit</a>
        }
        @if(user can DeleteNotifications) {
          <a href=""
          class="btn btn-danger delete"
          >Delete</a>
        </div>
      <div class="btn-toolbar pull-right confirm-delete">
        <p>Are you sure?</p>
        @helper.form(controllers.publish.routes.NotificationsController.delete(publisher.id, item.activity.id)) {
          @context.csrfHelper.formField
          <button type="submit" class="btn btn-danger">Delete</button>
        }
        <button class="btn btn-default cancel">Cancel</button>
      </div>
      } else { </div> }
    }
  </div>
</div>
</div>
