@import controllers.publish.NotificationsController.PublishNotificationForm
@import models.publishing.{PermissionScope, Publisher}
@import system.RequestContext
@import views.html._
@import play.api.libs.json.JsValue
@import services.dao.DepartmentInfo

@(
    publisher: Publisher,
    activity: Activity,
    form: PublishNotificationForm,
    departmentOptions: Seq[DepartmentInfo],
    providerOptions: Seq[(String, String)],
    permissionScope: PermissionScope,
    audience: Audience,
    audienceJson: JsValue
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Update alert") {
  @b3.form(action = controllers.publish.routes.NotificationsController.update(publisher.id, activity.id, submitted = true), 'class -> "split-form", Symbol("data-audience-action") -> controllers.publish.routes.NotificationsController.audienceInfo(publisher.id)) {
    @publish.notifications.contentForm(form, publisher, departmentOptions, providerOptions, permissionScope, audience, "Update", audienceJson)
  }
}

