@import controllers.publish.NotificationsController.PublishNotificationForm
@import models.publishing.{PermissionScope, Publisher}
@import play.api.libs.json.JsValue
@import services.ProviderRender
@import services.dao.DepartmentInfo
@import system.RequestContext
@import views.html._
@(
    publisher: Publisher,
    activity: Activity,
    form: PublishNotificationForm,
    departmentOptions: Seq[DepartmentInfo],
    providers: Seq[ProviderRender],
    permissionScope: PermissionScope,
    audience: Audience,
    audienceJson: JsValue
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Update alert") {
  @b3.form(
    action = controllers.publish.routes.NotificationsController.update(publisher.id, activity.id, submitted = true),
    'class -> "split-form",
    Symbol("data-audience-action") -> controllers.publish.routes.NotificationsController.audienceInfo(publisher.id),
    Symbol("data-confirm-above") -> 100
  ) {
    @views.html.publish.notifications.contentForm(form, publisher, departmentOptions, providers, permissionScope, audience, "Update", audienceJson)
  }
}

