.tile__edit-control .fa-arrow-up {
  .tile--small & {
    transform: rotate(90deg);
  }
  .tile--wide & {
    transform: rotate(180deg);
  }
  .tile--large & {
    transform: rotate(315deg);
  }
}

.tile__edit-control {
  @size: 44px;
  @outside: -@size * 1/2;

  display: none;
  position: absolute;
  z-index: 10;

  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
  width: @size;
  height: @size;
  text-align: center;
  line-height: @size * 5/6;

  cursor: pointer;

  .fa-arrow-up {
    transition: transform .4s;
  }

  &:hover {
    background-color: #444;
  }

  &.top-left {
    top: @outside;
    left: @outside;
  }

  &.top-right {
    top: @outside;
    right: @outside;
  }

  &.bottom-left {
    bottom: @outside;
    left: @outside;
  }

  &.bottom-right {
    bottom: @outside;
    right: @outside;
  }
}

