.list-group-item--header {
  background-color: @behind-tiles-colour;
}

.tile .list-group-item--header {
  background-color: transparent;
  border: 0;
  padding-left: 0;
  font-weight: bold;
}

.tile-list-item {
  overflow: hidden;
  padding: 3px;
  margin: 0;
  font: -apple-system-footnote;

  line-height: 1.2em;
}

.tile-list-item--with-separator {
  padding: 5px 3px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.tile-list-group {
  margin-bottom: 6px;

  .list-group-item {
    &__title, &__location {
      max-width: 95%;
      max-width: calc(100% - @tile-gutter);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      font: -apple-system-short-footnote;

      line-height: 1;
    }

    &__date {
      float: right;
      font: -apple-system-short-footnote;

      line-height: 1;

      &--left {
        margin-right: 8px;
        margin-left: 4px;
        font: -apple-system-short-footnote;

        line-height: 1;
      }
    }

    &__text {
      display: block;
      font: -apple-system-short-footnote;
    }

    &--header {
      padding: 3px;
      border: 0;
      font: -apple-system-footnote;
      font-weight: bold;

      line-height: 1;
      background-color: transparent;
    }
  }
}

.tile-list-item__location {
  white-space: nowrap;
}

.agenda-item {
  display: table-row;

  &__cell {
    display: table-cell;
    min-width: 3.6em; // width of time and a dash, to keep times and titles neatly aligned
  }
}

.list-group {
  margin-bottom: 0;
}

.tile .list-group {
  margin-bottom: 1em;
}
