.tile-list-group {
  margin-bottom: 10px;
}

.tile-list-item {
  overflow: hidden;
  padding: 3px;
  margin: 0;
}

.tile-list-item--with-separator {
  padding: 5px 3px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.tile-list-item__title {
  max-width: 85%;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  display: inline-block;
}

.tile-list-item__date {
  float: right;
}

.tile-list-item__date--left {
  margin-right: 8px;
  margin-left: 4px;
}

.tile-list-item__text {
  display: block;
}

.tile-list-item--header {
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}
