.tile--weather .skycon {
  max-width: 40px;
  padding-top: 5px;
}

.tile__body {
  .tile--small.tile--agenda &,
  .tile--wide.tile--agenda &,
  .tile--small.tile--account &,
  .tile--wide.tile--account &,
  .tile--large.tile--account & {
    & ul {
      line-height: 0.8 !important;
      margin-bottom: 8px;
    }
    .text-right {
      margin-bottom: 3px;
    }
  }
  .fa {
    opacity: 0.5;
    margin-right: 4px;

  }
}

.tile--account {
  @media-left-image-max-width: 60px;
  @setting-link-width: 2em;

  html.ios & {
    ul {
      width: ~"calc(100vw - @{media-left-image-max-width} - @{setting-link-width})";
    }
  }

  .media-left img {
    max-height: 60px;
    max-width: @media-left-image-max-width;
  }
}