.tile--weather .skycon {
  max-width: 40px;
  padding-top: 5px;
}

.tile--agenda, .tile--account {
  .tile__body {
    .tile--small&, .tile--wide&, .tile--large& {
      & ul {
        margin-bottom: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .settings-link {
          right: 0px;
          position: absolute;
          margin-top: -10px;
        }
      }
    }

    .tile--wide& {
      & ul {
        .settings-link {
          margin-top: -15px;
        }
      }
    }

    .fa {
      opacity: 0.5;
      margin-right: 4px;

    }
  }
}

.tile--account {
  .media-left img {
    max-height: 60px;
    max-width: 60px;
  }
}