.tile--weather .skycon {
  max-width: 40px;
  padding-top: 5px;
}

.tile--agenda {
  .tile__body {
    .tile--small&, .tile--wide& {
      line-height: 0.8 !important;
      & ul {
        margin-bottom: 8px;
      }
    }
    .fa {
      opacity: 0.5;
      margin-right: 4px;
    }
  }
}

.tile--account .media-left img {
  max-height: 60px;
  max-width: 60px;
}