.tile__wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tile__header {
  overflow: hidden;
  white-space: nowrap;
}

.tile__title {
  font-size: 16px;
  line-height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tile__icon {
  cursor: pointer;
  display: block;
  font-size: 16px;
  i {
    padding: @tile-padding;
  }
}

.tile__icon--left {
  float: left;
  i {
    padding-right: @tile-padding - 2;
  }
}

.tile__icon--right {
  float: right;
  i {
    padding-right: @tile-padding + 2;
  }
}

.tile__body {
  padding: 2px @tile-padding @tile-padding;
}

.tile__callout {
  display: block;
  font-size: 2em;
  line-height: 1;

  small {
    font-size: 0.5em;
  }
}

.tile__item {
  margin-bottom: 1em;
}
