.tile--large {
  height: @tile-height * 2 + @tile-gutter;
}

.tile--tall {
  height: @tile-height * 4 + 3 * @tile-gutter;
}

.tile--editing {
  .tile__edit-control {
    display: inline-block;
  }
}

.tile--zoomed {
  margin: 0;
  height: auto;
  cursor: default;

  html.not-app & {
    @media (min-width: @screen-sm-min) {
      position: fixed;
      top: 25%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-left: -(@screen-sm-min - 100px) / 2;
      width: @screen-sm-min - 100px;
      height: 50%;
    }
  }

  html.app & {
    bottom: 0;
  }

  html.android.app & {
    top: 0;
  }
}

body.in-tiles {
  overflow: visible;
}

@tile-header-height: 30px;

html.mobile {
  .tile--zoomed {
    overflow: visible;

    .tile__header {
      position: fixed;
      top: @start-masthead-height;
      left: 0;
      right: 0;
      height: @tile-header-height;
      z-index: 10;
    }

    .tile__wrap {
      position: unset;
      overflow: visible;
    }

    .tile__body {
      position: unset;
      overflow-y: visible;
      padding-top: @tile-header-height;
    }
  }
}

html.android.app .tile--zoomed .tile__header {
  top: 0;
}

html.mobile body.in-tiles .update-popup {
  display: none;
}
