.tile__wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tile__header {
  overflow: hidden;
  white-space: nowrap;
}

.tile__title {
  font-size: 16px;
  line-height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 30px;
}

.tile__icon {
  cursor: pointer;
  display: block;
  font-size: 16px;
  i {
    padding: @tile-padding;
  }
}

.tile__icon--left {
  float: left;
}

.tile__icon--right {
  float: right;
  i {
    padding-right: @tile-padding + 2;
  }
}

.tile__body {
  padding: 2px @tile-padding @tile-padding;

  div[class*="col-"] {
    padding-left: @tile-body-col-padding;
    padding-right: @tile-body-col-padding;
  }

  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.tile__callout {
  font-size: 2em;
  line-height: 1;
}

.tile__item {
  margin-bottom: 1em;
}

.tile__text {
  display: block;
}
