@import services.dao.DepartmentInfo
@import models.Audience
@(
    components: Seq[Audience.Component],
    allDepartments: Seq[DepartmentInfo]
)

@defining(Map("supervisor" -> "Supervisees", "personalTutor" -> "Personal tutees")) { relationships: Map[String, String] =>
  @components.flatMap(component => component match {
    case Audience.PublicAudience => Seq("Public")
    case Audience.UsercodesAudience(usercodes) => Seq(s"Usercodes: ${usercodes.map(_.string).mkString(", ")}")
    case Audience.WebGroupAudience(groupName) => Seq(s"WebGroup: ${groupName.string}")
    case Audience.ModuleAudience(moduleCode) => Seq(s"Module: ${moduleCode.toUpperCase}")
    case Audience.RelationshipAudience(rel, agentId) => Seq(s"${relationships.getOrElse(rel, rel)} of ${agentId.string}")
    case Audience.SeminarGroupAudience(groupId) => Seq(s"Seminar group: $groupId")
    case loc: Audience.LocationOptIn => Seq(s"Location: ${loc.description}")
    case dept: Audience.DepartmentAudience =>
      Seq(s"${tags.mkList(dept.subset.map(_.displayName))} in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}")
    case Audience.All => Seq(s"All university members")
    case Audience.Staff => Seq(s"All staff")
    case Audience.TeachingStaff => Seq(s"All teaching staff")
    case Audience.UndergradStudents => Seq(s"All undergraduate students")
    case Audience.TaughtPostgrads => Seq(s"All taught postgraduates")
    case Audience.ResearchPostgrads => Seq(s"All research postgraduates")
    case unknown => Seq(unknown.toString)
  }).mkString(", ")
}

