@import models.publishing.PermissionScope
@import play.api.libs.json.Json

@(
    form: Form[_],
    fieldName: String,
    departmentOptions: Seq[(String, String)],
    itemName: String,
    permissionScope: PermissionScope,
    allowPublic: Boolean,
    audience: Audience
)(implicit fc: b3.B3FieldConstructor, messages: Messages)
@* TODO receive list of allowed audiences from controller - each user's will be different *@

<div
data-is-god="@(permissionScope == PermissionScope.AllDepartments)"
data-errors='@form.errorsAsJson'
data-departments='@Json.toJson(departmentOptions.map { case (code, name) => Seq(code, name) })'
id="audience-picker" class="form-group col-md-12">
</div>


