@import services.dao.DepartmentInfo
@(components: Seq[Audience.Component], allDepartments: Seq[DepartmentInfo])@components.flatMap(component => component match {
  case Audience.PublicAudience => Seq("Public")
  case usercodesAudience: Audience.UsercodesAudience => usercodesAudience.usercodes.map(u => s"Usercode: ${u.string}").seq
  case group: Audience.WebGroupAudience => Seq(s"WebGroup: ${group.groupName.string}")
  case module: Audience.ModuleAudience => Seq(s"Module: ${module.moduleCode.toUpperCase}")
  case dept: Audience.DepartmentAudience => dept.subset.map {
    case Audience.All => s"All members in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case Audience.Staff => s"All staff in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case Audience.TeachingStaff => s"All teaching staff in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case Audience.UndergradStudents => s"All undergraduate students in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case Audience.TaughtPostgrads => s"All taught postgraduates in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case Audience.ResearchPostgrads => s"All research postgraduates in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}"
    case unknownSubset => unknownSubset.toString
  }
  case Audience.All => Seq(s"All university members")
  case Audience.Staff => Seq(s"All staff")
  case Audience.TeachingStaff => Seq(s"All teaching staff")
  case Audience.UndergradStudents => Seq(s"All undergraduate students")
  case Audience.TaughtPostgrads => Seq(s"All taught postgraduates")
  case Audience.ResearchPostgrads => Seq(s"All research postgraduates")
  case unknown => Seq(unknown.toString)
}).mkString(", ")