@import services.dao.DepartmentInfo
@import models.Audience
@import Audience._
@(
    components: Seq[Audience.Component],
    allDepartments: Seq[DepartmentInfo]
)

@defining(Map("supervisor" -> "Supervisees", "personalTutor" -> "Personal tutees")) { relationships: Map[String, String] =>
  @components.flatMap(component => component match {
    case PublicAudience => Seq("Public")
    case UsercodesAudience(usercodes) => Seq(s"Usercodes: ${usercodes.map(_.string).mkString(", ")}")
    case WebGroupAudience(groupName) => Seq(s"WebGroup: ${groupName.string}")
    case ModuleAudience(moduleCode) => Seq(s"Module: ${moduleCode.toUpperCase}")
    case RelationshipAudience(rel, agentId) => Seq(s"${relationships.getOrElse(rel, rel)} of ${agentId.string}")
    case SeminarGroupAudience(groupId) => Seq(s"Seminar group: $groupId")
    case loc: LocationOptIn => Seq(s"Location: ${loc.description}")
    case dept: DepartmentAudience =>
      Seq(s"${tags.mkList(dept.subset map {
        case UndergradStudents.All => s"All Undergraduates"
        case ug: UndergradStudents => s"${ug.value} year Undergraduates"
        case other => other.displayName
      })} in ${allDepartments.find(_.code == dept.deptCode).map(_.shortName).getOrElse(dept.deptCode)}")
    case All => Seq(s"All university members")
    case Staff => Seq(s"All staff at the University")
    case TeachingStaff => Seq(s"All teaching staff at the University")
    case UndergradStudents.All => Seq(s"All undergraduate students at the University")
    case ug: UndergradStudents => Seq(s"${ug.value} year undergraduate students at the University")
    case TaughtPostgrads => Seq(s"All taught postgraduates at the University")
    case ResearchPostgrads => Seq(s"All research postgraduates at the University")
    case ResidenceAudience(residence) => Seq(s"Residents from ${residence.displayName}")
    case unknown => Seq(unknown.toString)
  }).mkString(", ")
}

