@import models.publishing.PermissionScope
@import play.api.libs.json.{Json, JsValue}
@import models.Audience._
@import services.dao.DepartmentInfo

@(
    form: Form[_],
    fieldName: String,
    departmentOptions: Seq[DepartmentInfo],
    itemName: String,
    permissionScope: PermissionScope,
    allowPublic: Boolean,
    audience: Audience,
    audienceJson: JsValue = Json.obj()
)(implicit fc: b3.B3FieldConstructor, messages: Messages)
@* TODO receive list of allowed audiences from controller - each user's will be different *@

@defining(Seq(
  TeachingStaff,
  AdminStaff,
  UndergradStudents.All,
  UndergradStudents.First,
  UndergradStudents.Second,
  UndergradStudents.Final,
  TaughtPostgrads,
  ResearchPostgrads)) { deptSubsets: Seq[DepartmentSubset] =>
  <div
  data-is-god="@(permissionScope == PermissionScope.AllDepartments)"
  data-form-data='@audienceJson'
  data-errors='@form.errorsAsJson'
  data-location-opts='@Json.obj(LocationOptIn.values.map(loc => loc.value -> Json.toJsFieldJsValueWrapper(loc.description)): _*)'
  data-dept-subset-opts='@Json.obj(deptSubsets.map(ds => ds.toString -> Json.toJsFieldJsValueWrapper(ds.displayName)):_*)'
  data-departments='@Json.obj(
    departmentOptions.map(d =>
      d.code -> Json.toJsFieldJsValueWrapper(Json.obj(
        "name" -> d.name,
        "faculty" -> d.faculty
      ))
    ):_*)'
  class="audience-picker" class="form-group col-md-12">
  </div>
}


