@(
    form: Form[_],
    fieldName: String,
    categories: Seq[NewsCategory],
    itemName: String
)(implicit fc: b3.B3FieldConstructor, messages: Messages)
@defining(form(fieldName)) { field =>

  @b3.multifieldFormGroup(
    Seq(field),
    Seq('_label -> s"What should this $itemName be tagged with?", 'id -> "item_category"),
    Nil) { info =>
    @for((msg, i) <- info.errorsAndInfos.zipWithIndex) { <span class="help-block" id="item_category_error_@i">@msg</span> }

    @for(category <- categories) {
      @tags.seqCheckbox(form, "categories", '_text -> category.name, 'value -> category.id)
    }
  }

  @b3.checkbox(form("item.ignoreCategories"),
    '_text -> "Show to everyone in the audience, regardless of their category preferences",
    '_help -> "Use sparingly!"
  )

}
