@(
    form: Form[_],
    fieldName: String,
    args: (Symbol, Any)*
)(implicit constructor: b3.B3FieldConstructor, messages: Messages)
@*

 Checkbox that should be checked if its value matches an element in a Seq.

*@
@defining({
  val argsMap = args.toMap
  val htmlArgs = bs.Args.remove(bs.Args.inner(args), 'checked, 'selected, 'disabled).toMap
  val arrField = form(s"$fieldName[]")
  val checked = views.utils.checked(form, fieldName, argsMap.get('value))
  val disabled = argsMap.get('disabled).contains(true)
  (argsMap, form(fieldName), arrField, htmlArgs, checked, disabled)
}) { case (argsMap, field, arrField, htmlArgs, checked, disabled) =>
  <div class="checkbox">
  @* May become possible to call through to b3.checkbox, but it doesn't support overriding 'checked until version 1.1 *@
    <label>
      <input type="checkbox" name="@arrField.name" @toHtmlArgs(htmlArgs) @if(checked){ checked } @if(disabled){ disabled }>
      @argsMap.get('_text)
    </label>
  </div>
}
