@import models.publishing.Ability._
@import models.publishing.{Publisher, Role}
@import system.RequestContext
@(publisher: Publisher, user: Role)(implicit context: RequestContext)
@common.admin(publisher.name) {

  <p>This is a publisher.  You can view:</p>

  <ul>
    @if(user.can(ViewNews)) {
      <li>
        <a href="@controllers.admin.routes.NewsController.list(publisher.id)">News</a>
      </li>
    }
    @if(user.can(ViewNotifications)) {
      <li>
        <a href="@controllers.admin.routes.NotificationsController.list(publisher.id)">Notifications</a>
      </li>
    }
  </ul>

}
