.activity-item {
  .list-group-item;

  line-height: @line-height-computed;

  &__title {
    font-weight: bold;
    color: @text-color;
  }

  &__text {
    font-weight: normal;
    color: @text-color;
  }

  &__date {
    font-size: @font-size-small;
    color: @gray-light;
  }

  &--with-url {
    cursor: pointer;
  }

  &--unread {
    background: @alert-info-bg;
  }

  a, a:hover {
    text-decoration: none;
  }
}

