@import 'id7/less/variables.less';
@import 'id7/less/id7.less';
@import 'id7/less/default-theme.less';
@import 'eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less';

@id7-image-root-dir: '../lib/id7/images';
@icon-font-path: '../lib/id7/fonts';
@fa-font-path: '../lib/id7/fonts';

@import 'variables';
@import 'activity-item';
@import 'app-icon';
@import 'news-item';
@import 'masquerade-notice';
@import 'notifications';
@import 'utilities';

dd.error {
  color: @id7-brand-red;
}

.split-form > section {
  display: none;
}

.confirm-delete {
  display: none;
  opacity: 0;
  left: 20%;
}
.news-item {
  .btn-toolbar {
    position: relative;
    form {
      display: inline;
    }
    .btn {
      margin-bottom: 4px;
    }
  }
}