.marketing {
  display: none;
}

html.theme-transparent.not-app .bg-stand-in {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

@media screen and (min-width: @screen-md-min) {
  .fixed-header, .nav.tab-bar, nav.tab-bar, .in-settings .list-group.fixed, .add-tile-container {
    position: fixed;
  }

  .add-tile-container {
    right: 0;
    bottom: @start-tab-bar-height;
    padding: 1.5em;
  }

  .id7-main-content-area {
    overflow-y: visible !important;
  }

  .marketing {
    user-select: text;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
    .inner-content {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
      font-size: 18px;
      color: #fff;
    }
    .app-dl {
      width: 160px;
    }
  }

  .marketing .inner-content {
    h1 {
      color: white;
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 50px;
      text-align: center;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 11px;

      .light {
        opacity: 0.6;
      }
    }
  }

  main#main:not(.in-root) {
    height: ~"calc(100vh -" (@start-masthead-height) ~")";
  }

  body, .fixed-header, .nav.tab-bar, nav.tab-bar, .in-settings .list-group.fixed, .add-tile-container {
    margin-right: 0;
    margin-left: 0;
    max-width: 100vw;
  }

  .tile--zoomed  .tile__header {
    margin-right: 0;
    margin-left: 0;
  }

  html {
    background: transparent;
  }

  html.not-app {
    background: #f9f9f9;
  }

  html.theme-transparent.not-app .bg-stand-in {
    top: 0;
    height: 100vh;
  }

  #app-container {
    background: transparent;
  }

  .react-loading svg path {
    fill: #fff;
  }

  html:not(.app):not(.not-app) body { // loading condition
    background: transparent;
  }

  body, .fixed-header, .nav.tab-bar, nav.tab-bar, .in-settings .list-group.fixed,
  .add-tile-container {
    margin-left: auto;
  }

  body .react-loading {
    position: fixed;
    left: 0;
    right: 0;
  }

  .not-app {
    body {
      overflow-y: scroll;
    }

    #app-container:after, header.id7-page-header:before {
      content: "";
      position: fixed;
      background-color: #8c6e96;
      margin-left: auto;
      left: 0;
      right: 0;
      z-index: 9999;
    }

    .marketing {
      display: flex;
    }

    html&.theme-transparent .bg-stand-in {
      background-attachment: initial;
    }

    .add-tile-container {
      right: 0;
      padding: 1.5em;
    }

    #app-container:after {
      bottom: 0;
    }

    header.id7-page-header:before {
      top: 0;
    }

    header.id7-page-header {
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;

    }

    .bg-stand-in {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }
  html, html.not-app {
    background: #8c6e96;
  }

  html.theme-transparent .in-settings .bg-stand-in {
    background-image: none;
  }
}

.desktop-rendition(@min-width) {
  @desktop-rendition-width: @min-width / 2;
  @desktop-rendition-width-from-center: ~"calc(50vw -" (@desktop-rendition-width) ~")";
  @desktop-rendition-vertical-border: 60px;
  @desktop-rendition-vertical-border-width: @desktop-rendition-width + 4;
  @desktop-rendition-vertical-border-right: @desktop-rendition-width + 2;

  .marketing {
    right: ~"calc("(@desktop-rendition-width-from-center)~"+" (@desktop-rendition-width)~")";
    .inner-content {
      max-width: @desktop-rendition-width;
    }
  }

  @media screen and (min-width: @min-width) {
    .marketing {
      right: ~"calc("(@desktop-rendition-width-from-center)~"+" (@desktop-rendition-width)~")";
      .inner-content {
        max-width: @desktop-rendition-width;
      }
    }

    body, .fixed-header, .nav.tab-bar, nav.tab-bar, .in-settings .list-group.fixed,
    .add-tile-container {
      max-width: @desktop-rendition-width;
      margin-right: @desktop-rendition-width-from-center;
    }

    // Account for body's border
    .tile--zoomed  .tile__header {
      max-width: @desktop-rendition-width - 2;
      margin-right: ~"calc(50vw -" (@desktop-rendition-width - 1) ~")";
      margin-left: auto;
    }

    .not-app {
      .fixed-header { top: @desktop-rendition-vertical-border; }
      .tab-bar { bottom: @desktop-rendition-vertical-border; }

      .main-content {
        padding-bottom: (@desktop-rendition-vertical-border * 2);
      }

      #app-container:after, header.id7-page-header:before {
        height: @desktop-rendition-vertical-border;
        max-width: @desktop-rendition-vertical-border-width;
        margin-right: ~"calc(50vw - @{desktop-rendition-vertical-border-right})";
        width: @desktop-rendition-vertical-border-width;
      }

      html&.theme-transparent .bg-stand-in {
        width: @desktop-rendition-width;
      }

      .add-tile-container {
        bottom: (@start-tab-bar-height + @desktop-rendition-vertical-border);
      }

      .id7-main-content-header {
        padding-top: @desktop-rendition-vertical-border;
      }

      .me-view-container, .tile--zoomed {
        // Account for body's border
        width: @desktop-rendition-width - 2;
        margin-left: 1px;
      }
    }
  }
}

.desktop-rendition(@screen-md-min);
.desktop-rendition(@screen-lg-min);
