.id7-fixed-width-container,
.id7-main-content-area {
  background: #f9f9f9 !important;
}

.id7-masthead {
  padding-bottom: 14px;
}

@media screen and (max-width: @screen-sm-max) {

  .id7-fixed-width-container,
  .id7-main-content-area {
    background: none;
  }

}

@media screen and (max-width: @screen-xs-max) {

  body {
    background-color: #f9f9f9;
  }

  main {
    padding-bottom: 34px;
  }

}
