@import 'mixins';

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .id7-fixed-width-container {
    height: auto !important;
    background: transparent !important;
  }

  .id7-page-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    opacity: 0;
  }

  &:not(.at-top) {
    .id7-page-header::after {
      opacity: 1;
    }
  }
}

.standalone.app {
  .tab-bar {
    display: none;
  }
}

body {
  min-height: 0;
}


.id7-fixed-width-container {
  z-index: auto !important;
}

.id7-masthead {
  padding-bottom: 14px;
}

.screen-sm-orless({

  .id7-fixed-width-container,
  .id7-main-content-area {
    background: none;
  }

});

.screen-xs-orless({

  main {
    padding-bottom: 34px;
  }

  .id7-main-content-area .id7-main-content {
    padding: 0;
  }
  .id7-fixed-width-container, .id7-main-content-area {
    // On mobile we make tile content flush with the edges, which causes
    // a couple of pixels of nothing to overlap the side which causes an annoying
    // scroll. There's no legitimate need for sideways scrolling in Start, so
    // just turn it off.
    // (however this seems to cause some z-index problems, so keep an eye on it.)
    overflow-x: hidden;
  }

});
