.link-block {
  .link-colour(@text-color);

  li {
    margin-bottom: 0;
  }
}

.link-block__item {
  padding: 10px 6px;
  display: block;
  border-bottom: 1px solid #ddd;
  line-height: 1.1;
}

a.list-group-item {
  color: inherit;
}

.link-block__item__title {
  font-weight: bold;
  display: block;
}

.link-block__item__subtitle {
  font-style: italic;
}