@import 'id7/less/variables.less';
@import 'id7/less/id7.less';
@import 'id7/less/default-theme.less';

@id7-image-root-dir: '../lib/id7/images';
@icon-font-path: '../lib/id7/fonts';
@fa-font-path: '../lib/id7/fonts';

@import 'variables';
@import 'fatal-error';
@import 'id7-tweaks';
@import 'modals';
@import 'activity-item';
@import 'activity-muting';
@import 'app-icon';
@import 'news-item';
@import 'tab-bar';
@import 'themes';
@import 'masthead-nav';
@import 'permission-request';
@import 'mobile';
@import 'top-page-notice';
@import 'notifications';
@import 'utilities';
@import 'me-view';
@import 'transitions';
@import 'tiles/tile';
@import 'tiles/tile-elements';
@import 'tiles/tile-modifiers';
@import 'tiles/edit-controls';
@import 'tiles/lists';
@import 'tiles/overrides';
@import 'tiles/map';
@import 'search';
@import 'multiselect';
@import 'settings';
@import 'switches';
@import 'desktop-rendition';

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-overflow-scrolling: auto;
}


.react-loading, .tile-loading {
  position: relative;
  top: 35vh;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #666666;
}

.tile-loading {
  color: #fff;
  z-index: 1;
  font-size: 32px;
}

.text-overflow-block {
  .text-overflow();
  display: block;
}
