// Gulpfile is set up to allow @imports relative to
// the node_modules directory, so you can import from
// NPM dependencies.

@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@import '/assets/lib/leaflet/leaflet.css';

@import 'variables';

body {
  background: @bg-color;
}

.map {
  height: 200px;
}

.card {
  margin: @card-gutter 0;
  border: 1px solid @card-border;
  background-color: @card-bg-color;

  .card-heading, .card-item {
    padding: @card-gutter;
  }

  .card-heading {
    border-bottom: 1px solid @card-border;
    font-size: 130%;
  }

  .card-item {

  }
}


// These classes are set by
// <ReactCSSTransitionGroup transitionName="activity">
// as items come and go.
.activity-enter {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all .5s @activity-transition-function;
  overflow: hidden;

  &.activity-enter-active {
    padding-top: @card-gutter;
    padding-bottom: @card-gutter;
    max-height: 5em;
  }
}
.activity-leave {
  max-height: 5em;
  transition: all .5s @activity-transition-function;
  overflow: hidden;

  &.activity-leave-active {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }
}

.activity-stream {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0
  }

  .published {
    display: block;
    font-size: 80%;
    color: #999;
  }

  .title {
    font-weight: bold;
  }
}

@media screen and (max-width: @screen-xs-max) {

  .tiles {
    .panel {
      margin-bottom: 14px;
    }
  }

}