@import 'id7/less/variables.less';
@import 'id7/less/id7.less';
@import 'id7/less/default-theme.less';

@id7-image-root-dir: '../lib/id7/images';
@icon-font-path: '../lib/id7/fonts';
@fa-font-path: '../lib/id7/fonts';

@import 'id7-tweaks';
@import 'activity-item';
@import 'app-icon';
@import 'link-block';
@import 'news-item';
@import 'tab-bar';
@import 'tiles';
@import 'themes';
@import 'masthead-popover';
@import 'permission-request';
@import 'mobile';
@import 'masquerade-notice';

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}