.masthead-popover-icons {
  font-size: 24px;
  float: right;
  margin-top: 45px;

  a {
    padding: 10px;

    &:hover, &.popover-active {
      color: #8c6e96;
    }
  }

  i {
    position: relative;
  }

  i > .badge {
    background-color: #ff0404;
    position: absolute;
    top: 0;
    right: -6px;

    padding: 2px 3px 2px 2px;
    border-radius: 4px;
    font-size: 10px;
  }


  .popover-title {
    text-align: center;
  }

  .popover-content .activity-item {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 2px;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
