.masthead-nav {
  .nav;
  .nav-pills;
  .pull-right;

  margin-top: 47px;

  li {
    margin-bottom: 0;
  }

  a {
    transition: color 0s;

    &.popover-active {
      background-color: @gray-lighter;
    }
  }

  li.active {
    > a {
      &, &:hover, &:focus {
        background-color: @id7-brand-default;
      }
    }

    .badge {
      background-color: white;
      color: @id7-brand-default;
    }
  }

  &.disabled {
    &, &:hover {
      color: @gray-light;
    }
  }

  .badge {
    background-color: #ff0404;
  }

  .popover-title {
    text-align: center;
  }

  .popover-content .activity-item {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 2px;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

ul.settings-list {
  i {
    margin-left: 16px;
    cursor: pointer;

    &.active {
      color: #5b3069
    }
    &.inactive {
      color: #9c9c9c
    }
  }

  li.settings-list-item {
    list-style: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
