.me-view--editing .tile:not(.tile--editing):not(.tile--hidden) {
  opacity: .7;
}

.me-view--editing {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .tile, a {
    cursor: default;
  }

  &.with-transitions {
    .tile {
      transition: min-height .3s, height .3s;
    }
    .me-view__tiles .react-grid-item:not(.react-draggable-dragging) {
      transition: width .3s, height .3s, transform .3s;
    }
  }
}

.tile-zoom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: black;
  opacity: 0.35;
}

.me-view {
  h3, &.me-view--adding p {
    margin: 20px 0 20px (@tile-gutter + 10px);
  }
}

.in-edit.in-add {
  .settings-btn {
    display: none;
  }
}

.me-view-container {
  width: 100%;
  overflow: hidden;
}