.mobile {
  body {
    font-family: -apple-system, 'Roboto', 'Droid Sans', 'Segoe WP', Helvetica, sans-serif !important;
  }

  h1, h2, h3 {
    font: -apple-system-headline;
  }

  h3, h4, h5 {
    font: -apple-system-subheadline;
  }

  p {
    font: -apple-system-body;
  }
}

