.mobile {
  body {
    font-family: -apple-system, 'Roboto', 'Droid Sans', 'Segoe WP', Helvetica, sans-serif !important;
  }

  h1, h2, h3 {
    font: -apple-system-headline;
  }

  h3, h4, h5 {
    font: -apple-system-subheadline;
  }

  p {
    font: -apple-system-body;
  }

}

// MASTHEAD MOBILE
.start-masthead {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #8c6e96;
  position: relative;
  z-index: 40;
  height: initial;
  font-size: 1.5em;
  line-height: 44px;

  .masthead-title {
    margin: auto;
    font-weight: 100;
    width: 52%;
    color: white;

    span.light {
      opacity: 0.6;
    }
  }

  ul {
    list-style: none;
    float: right !important;
    padding: 0 4px;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;

    li {
      margin: inherit;

      a {
        color: white;

        img {
          max-width: 30px;
          max-height: 30px;
        }
      }
    }
  }

  .popover.account-information {
    max-width: none !important;
  }
}



