.mobile {
  body {
    font-family: -apple-system, 'Roboto', 'Droid Sans', 'Segoe WP', Helvetica, sans-serif !important;
  }

  h1, h2, h3 {
    font: -apple-system-headline;
  }

  h3, h4, h5 {
    font: -apple-system-subheadline;
  }

  p {
    font: -apple-system-body;
  }

}

// MASTHEAD MOBILE
.start-masthead {
  background-color: #8c6e96;
  position: relative;
  z-index: 40;
  color: #fff;
  height: @start-masthead-height;
  line-height: 42px;

  .back-btn {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 44px;
    font-size: 1.25em;
    transform: translate3d(25px, 0, 0);
    opacity: 0;
    padding: 0 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    i {
      padding: 0 5px;
    }
  }

  .masthead-title {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: -.2px;
    text-transform: uppercase;

    span.light {
      opacity: 0.6;
    }
  }

  .sign-in-link {
    line-height: 44px;
    font-size: 1.25em;
  }

  .id7-utility-bar {
    height: initial;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px 0 0;

    a {
      display: block;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .popover.account-information {
    max-width: none !important;
  }
}

.has-zoomed-tile {
  overflow: hidden;

  .back-btn {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

