.news-item {
  .panel;
  .break-word;
}

.news-item__body {
  .panel-body;
}

.news-item__title {
  .h4;
  border: 0;
}

.news-item__footer {
  .small;
  .text-muted;
}

.news-item__category-tags {
  .badge {
    margin-right: 2px;
  }
  .pull-right;
  max-width: 50%;
}

.news-categories {
  margin-bottom: @form-group-margin-bottom;

  label {
    display: block;
  }
}