.news-item {
  .panel;
  .break-word;

  &__body {
    .panel-body;
  }

  &__title {
    .h4;
    border: 0;
  }

  &__footer {
    .small;
    .text-muted;
  }

  &__category-tags {
    .badge {
      margin-right: 2px;
    }
    .pull-right;
    max-width: 50%;
  }
}

.news-categories {
  margin-bottom: @form-group-margin-bottom;

  label {
    display: block;
  }
}

.tile__body .news-item {
  background: none;
  border: none;
  box-shadow: none;

  &__title {
    color: #fff;
  }

  &__footer {
    color: @gray-lighter;
  }

  &__category-tags .badge {
    color: @text-color;
    background-color: #fff;
  }
}
