@import 'variables';

.list-header {
  padding: 0 @tile-padding;
}

.empty-state {
  color: @gray-light;
  padding: @padding-large-vertical @padding-large-horizontal;
  font-size: @font-size-h6;

  .lead {
    font-size: @font-size-h5;
    font-weight: normal;
  }
}

.tile .empty-state {
  color: rgba(255, 255, 255, .8);

  .lead {
    color: #fff;
  }
}

.in-notifications.in-mute {
  .back-btn {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  h3, p {
    margin: 30px 0 20px (@tile-gutter + 10px);
  }
}
