@import 'mixins';

// TODO should work together with the ID7 theme, rather than fighting it.

// DEFAULT COLOUR THEME
.theme-default {
  .tile-theme(
    #8c6e96,
    #8c6e96,
    #8c6e96,
    #8c6e96,
    #8c6e96,
    #8c6e96
  );

  .behind-tiles({
    background-color: #f9f9f9 !important;
  });
}

// Just for testing, obvs. This must never see the light of day
.theme-nightmare {
  .tile-theme(cyan, yellow, magenta, limegreen, purple, blue);

  // Themes now applied to body, so this is on the body

  .behind-tiles({
    background-color: white;
    background-image: radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
  });

  .id7-left-border, .id7-right-border, .id7-utility-masthead { background-color: gold; }
}

.behind-tiles(@rules) {
  .id7-fixed-width-container,
  .id7-main-content-area {
    @rules();
  }
  .screen-xs-orless(@rules);
}

// Mixin to generate classes for tiles. Uses contrast() to choose a readable text colour -
// that may work most of the time but we may want to be more selective with some themes.
.tile-theme(@c0, @c1, @c2, @c3, @c4, @c5) {
  .do-tile(@i) {
    .colour-@{i} {
      background-color: ~"@{c@{i}";
      color: contrast(~"@{c@{i}}");
    }
  }
  .colour-0 {
    background-color: @c0;
    color: contrast(@c0);
  }
  .colour-1 {
    background-color: @c1;
    color: contrast(@c1);
  }
  .colour-2 {
    background-color: @c2;
    color: contrast(@c2);
  }
  .colour-3 {
    background-color: @c3;
    color: contrast(@c3);
  }
  .colour-4 {
    background-color: @c4;
    color: contrast(@c4);
  }
  .colour-5 {
    background-color: @c5;
    color: contrast(@c5);
  }
}
