@import 'mixins';

// TODO should work together with the ID7 theme, rather than fighting it.

.behind-tiles({
  background-color: @behind-tiles-colour !important;
});

// DEFAULT COLOUR THEME
.theme-default {
  .tile-theme(
    #5F858F,
    #a1688a,
    #A8625C,
    #963E3E
  );
}

.theme-contrast {
  .tile-theme(#000,#000,#000,#000);
}

.theme-dodgeball {
  .tile-theme(
    #2C2C74,
    #584269,
    #730402,
    #8C4300
  )
}

.theme-orangery {
  .tile-theme(
    #BD7426,
    #AB5C24,
    #9C4A21,
    #85351B
  )
}

// Just for testing, obvs. This must never see the light of day
.theme-nightmare {
  .tile-theme(cyan, yellow, magenta, limegreen);

  // Themes now applied to body, so this is on the body

  .behind-tiles({
    background-color: white;
    background-image: radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
  });

  .id7-left-border, .id7-right-border, .id7-utility-masthead { background-color: gold; }
}

.behind-tiles(@rules) {
  .id7-fixed-width-container,
  .id7-main-content-area {
    @rules();
  }
  .screen-xs-orless({
    body {
      @rules();
    }
  });
}

// Mixin to generate classes for tiles
.tile-theme(@c0, @c1, @c2, @c3) {
  .colour-0 {
    background-color: @c0;
  }
  .colour-1 {
    background-color: @c1;
  }
  .colour-2 {
    background-color: @c2;
  }
  .colour-3 {
    background-color: @c3;
  }
}
