@import 'mixins';

// TODO should work together with the ID7 theme, rather than fighting it.

.behind-tiles({
  background-color: @behind-tiles-colour;
});

// DEFAULT COLOUR THEME
.theme-default {
  .tile-theme(
    #5F858F,
    #a1688a,
    #A8625C,
    #963E3E
  ) !important;
}

.theme-contrast {
  .tile-theme(#000,#000,#000,#000);
}

.theme-dodgeball {
  .tile-theme(
    #2C2C74,
    #584269,
    #730402,
    #8C4300
  ) !important;
}

.theme-orangery {
  .tile-theme(
    #BD7426,
    #AB5C24,
    #9C4A21,
    #85351B
  ) !important;
}

// Just for testing, obvs. This must never see the light of day
.theme-nightmare {
  .tile-theme(cyan, yellow, magenta, limegreen);

  // Themes now applied to body, so this is on the body

  .behind-tiles({
    background-color: white;
    background-image: radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
  });

  .id7-left-border, .id7-right-border, .id7-utility-masthead { background-color: gold; }
}

.theme-transparent {
  .screen-sm-ormore({ .id7-fixed-width-container,
  .id7-main-content-area {
    .theme-default();
  } });

  html {
    height: 100%;
  }
  @transparent: rgba(0, 0, 0, 0.25);
  .id7-fixed-width-container,
  .id7-main-content-area {
    background: transparent;
  }
  .in-root, .in-edit, .in-tiles {
    &.in-add h3 {
      margin: 0;
      padding: 20px 0 20px 14px;
      background: @transparent;
      color: #fff;
    }
    #app-container {
      background-image: linear-gradient(to bottom, #0473de, #eca9de 45.7%, #eea7e0 45.7%, #f49aa2 70.9%, #f697a2 70.9%, #6d4674);
      background-image: url(/assets/images/bg01.jpg);
      background-attachment: fixed;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    html.app& {
      // Native apps render the background image internally
      background: transparent;
    }
  }
  .in-settings.in-tiles {
    &, html.app& {
      background: @behind-tiles-colour;
    }
  }
  .colour-0, .colour-1, .colour-2, .colour-3 {
    background-color: @transparent;
    .tile--zoomed .tile__header {
      background: linear-gradient(to right, rgba(70, 59, 120, 0.8) 0%, rgba(37, 91, 165, 0.8) 100%);
    }
  }
  .tile--map__container .map-tile-image {
    -webkit-filter: saturate(0%) brightness(90%) contrast(50%) opacity(25%); // Android WebView seems to need this
    filter: saturate(0%) brightness(90%) contrast(50%) opacity(25%);
  }
}

.behind-tiles(@rules) {
  .id7-fixed-width-container,
  .id7-main-content-area {
    @rules();
  }
  body {
    @rules();
  }

}

// Mixin to generate classes for tiles
.tile-theme(@c0, @c1, @c2, @c3) {
  .colour-0 {
    &, & .tile__header {
      background-color: @c0;
    }
  }
  .colour-1 {
    &, & .tile__header {
      background-color: @c1;
    }
  }
  .colour-2 {
    &, & .tile__header {
      background-color: @c2;
    }
  }
  .colour-3 {
    &, & .tile__header {
      background-color: @c3;
    }
  }
}
