@import 'variables';

.tile--zoomed {
  position: fixed;
  padding: 0;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 44px;
  z-index: 100;

  @media (min-width: @screen-sm-min) {
    top: 30%;
    left: 50%;
    right: auto;
    width: @screen-sm-min - 100px;
    margin-left: -(@screen-sm-min - 100px) / 2;
    bottom: auto;
    height: 100%;
  }

  .tile {

    .tile__wrap {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    height: 100%;
    cursor: default;
  }
}

.tile-zoom-backdrop {
  @media (min-width: @screen-sm-min) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    opacity: 0.35;
  }
}

.me-view {
  margin-left: -(floor(@tile-gutter / 2));
  margin-right: -(ceil(@tile-gutter / 2));

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: floor(@tile-gutter / 2);
    padding-right: ceil(@tile-gutter / 2);
  }
}

.me-view--editing .tile:not(.tile--editing):not(.tile--hidden) {
  opacity: .7;
}

.me-view--editing {
  .tile {
    transition: min-height .4s, height .4s;
  }

  .tile, a {
    cursor: default;
  }

  .tile__container {
    transition: width .4s;
  }
}

.tile {
  height: @tile-height;
  position: relative;
  font-size: 15px;
  margin-bottom: @tile-gutter;

  a {
    color: inherit;
    text-decoration: none;
  }

  ul, ol {
    .list-unstyled;
  }

  .tile__wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 20px;
  }

  > .tile__wrap > header {
    margin: -10px -10px 0;
    padding: 10px 10px 0;
    > h1 {
      color: inherit;
      border: 0;
      margin: 0;
      font-size: 16px;

      > .fa {
        margin-right: 4px;
      }
    }
  }
}

.tile--large {
  height: @tile-height * 2 + @tile-gutter;
}

:not(.tile--zoomed) {
  .tile--agenda {
    .list-header {
      border: none;
      font-weight: 100;
      background-color: transparent;
    }
    .list-group {
      margin-bottom: 8px;
    }
  }

  .tile__item {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}

.tile__last-updated {
  .small;
  text-align: center;
  opacity: .8;
}

.tile--small {
  .tile__edit-control .fa-arrow-up {
    transform: rotate(90deg);
  }
}

.tile--wide {
  .tile__edit-control .fa-arrow-up {
    transform: rotate(180deg);
  }
}

.tile--large {
  .tile__edit-control .fa-arrow-up {
    transform: rotate(315deg);
  }
}

.tile__edit-control {
  @size: 44px;
  @outside: -@size * 1/2;

  display: none;
  position: absolute;
  z-index: 10;

  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
  width: @size;
  height: @size;
  text-align: center;
  line-height: @size * 5/6;

  cursor: pointer;

  .fa-arrow-up {
    transition: transform .4s;
  }

  &:hover {
    background-color: #444;
  }

  &.top-left {
    top: @outside;
    left: @outside;
  }

  &.top-right {
    top: @outside;
    right: @outside;
  }

  &.bottom-left {
    bottom: @outside;
    left: @outside;
  }

  &.bottom-right {
    bottom: @outside;
    right: @outside;
  }
}

.tile--clickable {
  cursor: pointer;
}

.tile--editing {
  z-index: 10;

  .tile__edit-control {
    display: inline-block;
  }
}

.tile--zoomed {
  .tile__body {
    display: block;
    .row;
  }
  .list-group--grouped {
    .list-group {
      .make-xs-column(12);
      .make-sm-column(6);
    }
  }
  .tile__item {
    .make-xs-column(12);
    .make-sm-column(6);
    width: initial;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.tile__callout {
  display: block;
  font-size: 2em;
  line-height: 1.1;
}

.tile__dismiss, .tile__expand {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
}

.tile__icon {
  cursor: pointer;
}

.list-tile-item {
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.list-tile-item__title {
  font-weight: bold;
}

.list-tile-item__date {
  float: right;
}

.list-tile-item__text {
  display: block;
}

.text-tile-enter {
  bottom: -100% !important;
}

.text-tile-enter-active {
  bottom: 10px !important;
  transition: bottom 500ms ease-out;
  transition-delay: 400ms;
}

.text-tile-leave {
  bottom: 10px !important;
}

.text-tile-leave-active {
  bottom: -100% !important;
  transition: bottom 500ms ease-in;
}

// AGENDA
.agenda-item, .agenda-item a {
  display: block;
}

.agenda-item__title {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
}

.agenda-item__date {
  margin-bottom: -0.5em;
  float: right;
}

// WEATHER {
.tile--weather {
  .tile__callout {
    display: inline-block;
  }
  .tile__text {
    display: block;
  }
  .skycon {
    max-width: 80px;
    margin-left: 18px;
  }
}

.tile--hidden {
  .tile__body {
    text-align: center;
    margin-top: 22px;
    .fa {
      font-size: 36px;
    }
  }
}

// TRAFFIC

.tile--zoomed .traffic--tile ul {
  margin-right: 10px;
  margin-left: 10px;
}

.traffic--tile {
  i {
    margin-right: 5px;
  }

  li {
    margin-bottom: 3px;
  }
}

.slider-enter, .slider-leave {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  z-index: 100;
}

.slider-enter {
  transform: translate3d(100%, 0, 0);
}

.slider-enter.slider-enter-active {
  transform: translate3d(0%, 0, 0);
  transition: transform .3s ease-out;
}

.slider-leave {
  transform: translate3d(0%, 0, 0);
}

.slider-leave.slider-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: transform .3s ease-out;
}
