.centered {
  margin: 2em 0;
  text-align: center;
}

.text {
  &--dotted-underline {
    border-bottom: 1px dotted rgba(255, 255, 255, .5);
  }

  &--light {
    font-weight: lighter;
  }

  &--translucent {
    color: rgba(255, 255, 255, .8);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.break-word() {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.margin-top-1 {
  margin-top: .75em;
}
