
// Bootstrap/FA overrides
@fa-font-path: "/assets/lib/font-awesome/fonts";
@font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Other stuff.

@card-gutter: 10px;
@card-border: #ddd;
@card-bg-color: #fff;

@bg-color: #eee;

@activity-transition-function: cubic-bezier(0, 1, 0.5, 1);