@import (reference) 'id7/less/bootstrap/variables.less';
@import (reference) 'id7/less/variables.less';

@tile-height: 125px;
@tile-gutter: 4px;
@tile-padding: 7px;

@tile-body-col-padding: 4px;

@start-masthead-height: 44px;
@start-tab-bar-height: 44px;
@start-masthead-and-tab-bar-height: @start-tab-bar-height + @start-masthead-height;

@behind-tiles-colour: #f9f9f9;

@ios-tab-bar-height: 50px;

@top-page-notice-height: 30px;

@media-body-width-ios: 79vw;