@import services.analytics.AnalyticsTrackingID
@()(implicit analyticsTrackingId: Option[AnalyticsTrackingID], searchRootUrl: SearchRootUrl)
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
  <head>
    @common.head(title = "")
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
  </head>
  <body>
    <div id="app-container"
      @for(trackingId <- analyticsTrackingId) {data-analytics-tracking-id="@{trackingId.string}"}
      data-search-root-url="@searchRootUrl.string"
    >
      <div id="react-app-spinner" class="react-loading">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>
    <script src="@routes.Assets.versioned("js/vendor.bundle.js")"></script>
    <script src="@routes.Assets.versioned("js/bundle.js")"></script>
    <!-- This is hidden by successful script load. -->
    <div id="error-fallback" class="fatal-error">
      There was a problem loading My Warwick.<br>Please try again later.
    </div>
    <noscript class="fatal-error">
      Javascript has been disabled in your browser, but it's required.
    </noscript>
  </body>
</html>
