@import services.analytics.AnalyticsTrackingID
@()(
    implicit analyticsTrackingId: Option[AnalyticsTrackingID],
    searchRootUrl: SearchRootUrl,
    showBetaWarning: Boolean
)
<!DOCTYPE html>
<html lang="en-GB" class="no-js" manifest="@routes.Assets.versioned("appcache.manifest")">
  <head>
    @common.head(title = "")
    <meta name="_csrf_header" content="Csrf-Token">
    <meta name="_csrf" content="uninitialised">
    <script defer src="@routes.Assets.versioned("js/vendor.bundle.js")"></script>
    <script defer src="@routes.Assets.versioned("js/bundle.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
  </head>
  <body>
    <div id="app-container"
      @for(trackingId <- analyticsTrackingId) {data-analytics-tracking-id="@{trackingId.string}"}
      data-search-root-url="@searchRootUrl.string"
      data-show-beta-warning="@showBetaWarning.toString"
    >
      <div id="react-app-spinner" class="react-loading">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>
    <div id="error-fallback" class="fatal-error">
      There was a problem loading My Warwick.<br>Please try again later.
    </div>
    <noscript class="fatal-error">
      Javascript has been disabled in your browser, but it's required.
    </noscript>
  </body>
</html>
