@()(implicit analyticsTrackingId: Option[AnalyticsTrackingID], searchRootUrl: SearchRootUrl)
<!DOCTYPE html>
<html lang="en-GB" class="no-js" manifest="@routes.Assets.versioned("appcache.manifest")">
  <head>
    @common.head(title = "")
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
  </head>
  <body>
    <div id="app-container"
      @for(trackingId <- analyticsTrackingId) {data-analytics-tracking-id="@{trackingId.string}"}
      data-search-root-url="@searchRootUrl.string"
    ></div>
    <script src="@routes.Assets.versioned("js/bundle.js")"></script>
  </body>
</html>
