@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#86a9a0">
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/favicon-32x32.png")'>

    <title>@title</title>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <script src="@routes.Assets.versioned("js/bundle.js")"></script>

  </head>
  <body>
    <main>
      <div class="page-content">
      @content
      </div>
    </main>
  </body>
</html>
