@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en-GB" class="no-js" manifest="@routes.Assets.versioned("app.manifest")"> <!-- class="id7-non-branded" to remove Warwick branding -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="theme-color" content="#86a9a0">
    <link rel='shortcut icon' type='image/png' href='/assets/lib/id7/images/favicon-32x32.png'>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/lib/id7/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/lib/id7/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/lib/id7/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/lib/id7/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/lib/id7/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/lib/id7/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/lib/id7/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/lib/id7/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/lib/id7/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/lib/id7/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/lib/id7/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#86a9a0">
    <meta name="msapplication-TileImage" content="/assets/lib/id7/images/mstile-144x144.png">

    <title>@title</title>

      <!-- Lato web font -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;subset=latin,latin-ext"
    rel="stylesheet" type="text/css">

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    @*<script src="@routes.Assets.versioned("lib/id7/js/id7-bundle.js")"></script>*@
    <script src="/assets/lib/id7/js/id7-bundle.js"></script>
    <script src="@routes.Assets.versioned("js/bundle.js")"></script>

  </head>
  <body>
    <div class="id7-left-border"></div>
    <div class="id7-fixed-width-container">
      <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>

      <header class="id7-page-header">
        <div class="id7-utility-masthead">
          <nav class="id7-utility-bar" id="utility-bar-container">
            <ul>
              <li>
                <a href="#">
                  John Smith
                  <span class="caret"></span>
                </a>
              </li>
            </ul>
          </nav>

          <div class="id7-masthead">
            <div class="id7-masthead-contents">
              <div class="clearfix">
                <div class="id7-logo-column">
                    <!-- Don't include the logo row on non-branded sites -->
                  <div class="id7-logo-row">
                    <div class="id7-logo">
                      <a href="http://warwick.ac.uk" title="Warwick homepage">
                        <img src="@routes.Assets.versioned("lib/id7/images/shim.gif")" alt="Warwick">
                      </a>
                    </div>
                    <nav class="id7-site-links">
                      <ul>
                        <li><a href="http://warwick.ac.uk/study">Study</a></li>
                        <li><a href="http://warwick.ac.uk/research">Research</a></li>
                        <li><a href="http://warwick.ac.uk/business">Business</a></li>
                        <li><a href="http://warwick.ac.uk/alumni">Alumni</a></li>
                        <li><a href="http://warwick.ac.uk/news">News</a></li>
                        <li><a href="http://warwick.ac.uk/about">About</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- Docs master nav -->
        <div class="id7-navigation" data-affixHeader="false" data-affixNav="false">
            <!-- Include the navigation component here if used -->
        </div>
      </header>

        <!-- Page content of course! -->
      <main class="id7-main-content-area" id="main">
        <header class="id7-main-content-header">
          <div class="id7-horizontal-divider">
            <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" width="1130" height="40" viewBox="0, 0, 1130, 40">
              <path d="m 0,0 1030.48, 0 22.8,40 16.96,-31.4 16.96,31.4 22.8,-40 20,0" class="divider" stroke="#383838" fill="none" />
            </svg>
          </div>

          @*<div class="id7-page-title">
          <h1>@title</h1>
          </div>*@
        </header>

        <div class="id7-main-content">
          @content
        </div>
      </main>

    </div>
    <div class="id7-right-border"></div>
  </body>
</html>
