@import models.publishing.PermissionScope
@import system.RequestContext
@import org.joda.time.LocalDateTime
@import models.publishing.Publisher
@import services.dao.DepartmentInfo
@import play.api.libs.json.{Json, JsValue}

@import play.api.libs.json.JsBoolean
@(
    form: Form[_],
    publisher: Publisher,
    departmentOptions: Seq[DepartmentInfo],
    categories: Seq[NewsCategory],
    permissionScope: PermissionScope,
    audience: Audience,
    createOrUpdate: String,
    audienceJson: JsValue = Json.obj(),
    categoriesJson: JsValue = Json.obj(),
    audienceIndicatorHint: JsValue = Json.obj(
      "isNews" -> JsBoolean(true)
    )
)(implicit fc: b3.B3FieldConstructor, messages: Messages, context: RequestContext)

@context.csrfHelper.formField

<div class="alert alert-info">
  <p>
    When sending news, please remember that news should be relevant to the chosen recipients, and concise - a short paragraph at most. You can include a link to a page containing a longer article.
    &nbsp;<a href="https://warwick.ac.uk/mw-support/faqs-staff/sending-news">More info…</a>
  </p>
</div>

<div class="row">
  <div class="col-xs-8 split-form__sections">
  <section>
    @tags.audiencePicker(
      form,
      "audience",
      departmentOptions,
      "news item",
      permissionScope,
      allowPublic = true,
      audience = audience,
      audienceJson
    )
    @tags.categoryPicker(
      form,
      categories,
      categoriesJson
    )
  </section>

  <section>
    @b3.text(form("item.title"),
      'class -> "input-lg",
      '_label -> "Title",
      Symbol("data-autofocus") -> true,
      'required -> true)

    @b3.textarea(form("item.text"),
      '_label -> "Text",
      '_help -> "Keep it short",
      'rows -> 7
    )

    <div id="file-upload-container" data-input-name="item.imageId" data-image-id="@form.data.get("item.imageId")"></div>

    @b3.text(form("item.linkHref"),
      '_label -> "Link URL"
    )

    @b3.text(form("item.linkText"),
      '_label -> "Link title"
    )
  </section>

  <section>
    @b3.radio(form("item.publishDateSet"),
      Seq(
        "false" -> "Now",
        "true" -> "Select a time"
      ),
      '_label -> "Publish time",
      'value -> false
    )
    @tags.datetimePicker(form("item.publishDate"),
      '_label -> "Publish date",
      '_help -> "You can select a time in the future, and this news item will appear to users after that time",
      'value -> LocalDateTime.now.withSecondOfMinute(0).withMillisOfSecond(0)
    )

    @tags.submitOrCancel(createOrUpdate, controllers.publish.routes.NewsController.list(publisher.id))
  </section>
</div>
  <div
  class=" col-xs-4 audience-indicator"
  data-hint="@audienceIndicatorHint"
  ></div>
</div>