@import controllers.publish.PublishNewsItemData
@import views.html._
@import system.RequestContext
@import models.publishing.PermissionScope
@import models.publishing.Publisher
@import services.dao.DepartmentInfo

@(
    publisher: Publisher,
    form: Form[PublishNewsItemData],
    departmentOptions: Seq[DepartmentInfo],
    categories: Seq[NewsCategory],
    permissionScope: PermissionScope,
    audience: Audience
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Create news") {
  @b3.form(
    action = controllers.publish.routes.NewsController.create(publisher.id, submitted = true),
    'class -> "split-form",
    Symbol("data-audience-action") -> controllers.publish.routes.NewsController.audienceInfo(publisher.id)) {
    @views.html.publish.news.contentForm(form, publisher, departmentOptions, categories, permissionScope, audience, "Create")
  }
}
