@import models.news.NewsItemRenderWithAudit
@import models.publishing.Ability.CreateNews
@import models.publishing.{Publisher, Role}
@import system.RequestContext
@import views.html._
@(
    publisher: Publisher,
    newsPending: Seq[NewsItemRenderWithAudit],
    newsPublished: Seq[NewsItemRenderWithAudit],
    user: Role
)(implicit context: RequestContext)

  @common.admin("News") {
    @if(user can CreateNews) {
      <p>
        <a class="btn btn-default" href="@controllers.publish.routes.NewsController.createForm(publisher.id)">
          Create news</a>
      </p>
    }

    <h3>Pending</h3>
    @if(newsPending.isEmpty) {
      <p>No pending news.</p>
    } else {
      @newsPending.map { item =>
        @publish.news.newsItemInfo(publisher.id, item, user)
      }
    }

    <h3>Published</h3>
    @if(newsPublished.isEmpty) {
      <p>No published news.</p>
    } else {
      @newsPublished.map { item =>
        @publish.news.newsItemInfo(publisher.id, item, user)
      }
    }
  }