@import models.publishing.Role
@import models.news.NewsItemRender
@import models.publishing.Ability.EditNews
@import models.publishing.Ability.DeleteNews
@import models.news.NewsItemAudit
@(publisher: String, item: NewsItemRender, auditOption: Option[NewsItemAudit], count: Option[AudienceSize], user: Role)
<article id="@item.id" class="news-item row">
  <div class="col-xs-10">
    <div class="news-item__body">
      <div class="news-item__title">@item.title</div>
      @item.imageId.map { imageId =>
        <div class="news-item__image">
          <img src="@controllers.api.routes.NewsImagesController.show(imageId)" alt="@item.title">
        </div>
      }
      <div class="news-item__content">@item.text</div>
      <div class="news-item__footer">
        Published @models.DateFormats.emailDateTime(item.publishDate)@if(auditOption.nonEmpty){,}
        @auditOption.map { audit =>
          @if(audit.updatedBy.nonEmpty) {
            updated by
            @audit.updatedByUser.flatMap(_.name.full).map(n => s"$n (${audit.updatedBy.get.string})").getOrElse(audit.updatedBy.get.string)
            @audit.updated.map { u => @models.DateFormats.emailDateTime(u) }
          } else {
            created by
            @audit.createdByUser.flatMap(_.name.full).map(n => s"$n (${audit.createdBy.string})").getOrElse(audit.createdBy.string)
            @models.DateFormats.emailDateTime(audit.created)
          }
        }
        <div class="click-count"><i class="fa fa-spin fa-refresh"></i></div>
        @count match {
          case Some(AudienceSize.Public) => {
            <span>- public</span>
          }
          case Some(AudienceSize.Finite(c)) => {
            <span>
            - @c
              @if(c == 1) { recipient } else { recipients }
          </span>
          }
          case _ => {}
        }

        <div>
        @item.categories.map { category =>
          <span class="badge">@category.name</span>
        }
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-2">
    <div class="btn-toolbar pull-right">
      @if(user can EditNews) {
        <a
        href="@controllers.publish.routes.NewsController.updateForm(publisher, item.id)"
        class="btn btn-primary"
        >Edit</a>
      }
      @if(user can DeleteNews) {
        <a href=""
        class="btn btn-danger delete"
        >Delete</a>
      </div>
    <div class="btn-toolbar pull-right confirm-delete">
      <p>Are you sure?</p>
      @helper.form(controllers.publish.routes.NewsController.delete(publisher, item.id)) {
        <button type="submit" class="btn btn-danger">Delete</button>
      }
      <button class="btn btn-default cancel">Cancel</button>
    </div>
    } else { </div> }
  </div>
</article>