@import controllers.publish.PublishNewsItemData
@import models.publishing.{PermissionScope, Publisher}
@import play.api.libs.json.{JsValue, Json}
@import services.dao.DepartmentInfo
@import system.RequestContext
@import views.html._
@import warwick.core.helpers.JavaTime
@(
    publisher: Publisher,
    id: String,
    form: Form[PublishNewsItemData],
    departmentOptions: Seq[DepartmentInfo],
    categories: Seq[NewsCategory],
    permissionScope: PermissionScope,
    audience: Audience,
    audienceJson: JsValue = Json.obj(),
    categoriesJson: JsValue = Json.obj()
)(implicit messages: Messages, context: RequestContext)

@implicitFieldConstructor = @{
  b3.horizontal.fieldConstructor("col-md-3", "col-md-9")
}

@common.admin("Update news") {
  @b3.form(action = controllers.publish.routes.NewsController.update(publisher.id, id, submitted = true), 'class -> "split-form", Symbol("data-audience-action") -> controllers.publish.routes.NewsController.audienceInfo(publisher.id)) {
    @views.html.publish.news.contentForm(form, publisher, departmentOptions, categories, permissionScope, audience, "Update", form("item.publishDate").value.getOrElse(JavaTime.localDateTime.withSecond(0).withNano(0).toString), audienceJson,categoriesJson)
  }
}
