@(title: String)

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<meta name="theme-color" content="#8C6E96">
<link rel="shortcut icon" type="image/png" href="/assets/lib/id7/images/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="57x57" href="/assets/lib/id7/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/lib/id7/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/lib/id7/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/lib/id7/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/lib/id7/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/lib/id7/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/lib/id7/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/lib/id7/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/lib/id7/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/lib/id7/images/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/lib/id7/images/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" type="image/x-icon" href="/assets/lib/id7/images/favicon.ico">

<link rel="manifest" href="/assets/manifest.json">

<meta name="msapplication-TileColor" content="#5b3069">
<meta name="msapplication-TileImage" content="/assets/lib/id7/images/mstile-144x144.png">

<title>@Seq("My Warwick", title).filter(_.nonEmpty).mkString(" - ")</title>

  <!-- Lato web font -->
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;subset=latin,latin-ext"
rel="stylesheet" type="text/css">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<script src="@routes.Assets.versioned("lib/id7/js/id7-bundle.js")"></script>
